:root {	
	--main-color: #8FC75E;
	--black-color: #44444A;
	--h1-color: #407536;
	--p-color: #52923f;
	--span-color: #A9C59E;
}

::selection{
    background: var(--p-color);
    color: #fff;
}

/* 페이드인 효과로 시작 */
@keyframes fadeInPage {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    body {
      margin: 0;
      padding: 0;
      animation: fadeInPage 0.8s ease-in-out;
    }

/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

section h2{
    font-weight: 700;
    font-size: 30px;
}

/* contact 팝업 */
.contact-popup {
  position: absolute;
  top: 100px;
  right: 0;
  width: 280px;
  height: 140px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(60, 92, 73, 0.15);
  z-index: 9999999999;
  opacity: 0;
  transform: translateY(-10px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: visible;
  pointer-events: none;
}

.contact-popup .popup-tail {
  position: absolute;
  top: -15px;
  right: 85px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff;
  z-index: 1;
}

.contact-popup.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.popup-content {
  padding: 20px;
  color: var(--p-color);
}

.popup-content h4 {
    font-weight: 700;
    line-height: 2.5;
}


.popup-content span {
    color: var(--span-color);
}


/* 헤더 스타일 */
header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 70px;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  transition: transform 0.3s ease;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#contactBtn{
    font-weight: 700;
}

header.hide {
  transform: translateY(-180px);
}

/* 로고 스타일 */
.logo {
    font-size: 22px;
    font-weight: bold;
}

/* 네비게이션 메뉴 */
.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    user-select: none;
}

.nav-links ul li{
    margin: 0 15px;
    color: var(--p-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* 햄버거 버튼 */
.menu-toggle {
    display: none; /* 기본적으로 숨김 */
    background: none;
    border: none;
    font-size: 30px;
    color: var(--p-color);
    cursor: pointer;
}

/* 메인 섹션 */
#home {
    position: relative;
    top: -70px;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/background.png') no-repeat center center/cover;
    color: white;
    user-select: none;
}

#home h1 {
    font-size: 64px;
    line-height: 1.3;
    font-weight: 700;
    z-index: 999;
    color: var(--h1-color);
    text-align: center;
}

#home p {
    font-size: 16px;
    max-width: 600px;
    word-break: keep-all;
    padding: 0 10px;
    color: var(--h1-color);
    z-index: 999;
    text-align: center;
}

.available-btn span.circle-default{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

.available-btn span.circle-animation{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-10px;
    margin-top:-10px;
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    animation: loading 1s linear infinite;
    margin-right: 8px;
}

@keyframes loading {
  0%{
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.available-btn{
    margin: 20px;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
    color: var(--main-color);
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px rgba(60, 92, 73, 0.15);
    user-select: none;
}

/* 자기 소개 섹션 */
#introduce{
    margin: 50px 3%;
    text-align: left;
    line-height: 1.7;
    padding-top: 100px;
    box-sizing: border-box;
}

#introduce .container{
    display: flex;
}

.introduce-section{
    width: 50%;
    margin-right: 10%;
}

.info-section{
    width: 50%;
    margin-left: 120px;
}

p.introduce-scripts{
    word-break: keep-all;
    color: var(--p-color);
}

.profile-img img{
    max-width: 90px;
    margin-bottom: 10px;
}

.intro-sub-title{
    display: flex;
    align-items: flex-end;
}

.intro-sub-title h1{
    font-size: 36px;
    font-weight: 700;
    color: var(--h1-color);
    padding-right: 10px;
}

.intro-sub-title span{
    color: var(--span-color);
    margin-bottom: 8px;
    font-size: 20px;
}

.strengths-area{
    margin-top: 30px;
}

.strength{
    position: relative;
    margin-top: 30px;
    padding-left: 20px;
}

.first-line{
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 90%;
    border-radius: 50px;
    background: #E5F59C;
}

.first-line::before {
  content: "";
  position: absolute;
  top: 0;        
  left: 0;    
  width: 5px;
  height: 5px;
  background-color: #C1DE7F;
  border-radius: 50%;
}

.second-line{
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 90%;
    border-radius: 50px;
    background: #A1DE8B;
}

.second-line::before {
  content: "";
  position: absolute;
  top: 0;        
  left: 0;    
  width: 5px;
  height: 5px;
  background-color: #82C55E;
  border-radius: 50%;
}

.strength h3{
    font-weight: 700;
    color: var(--h1-color);
    font-size: 20px;
}

.info-area h1{
    font-size: 36px;
    font-weight: 700;
    color: var(--h1-color);
}

.info-area ul {
    margin-bottom: 45px;
}

.info-area ul:not(:last-of-type)::after {
  content: '';
  display: block;
  margin: 25px auto 0;
  width: 100%;
  height: 1px;
  background-color: var(--span-color);
}

.info-area ul li{
    color: var(--p-color);
    line-height: 1.8;
}

.info-area ul li span{
    padding-left: 20px;
}

.info-area .skill-list{
  display: flex;
  flex-wrap: wrap;               
  gap: 40px;                     
  padding: 20px;
}

.info-area .skill-list img{
  width: 50px;                   
  height: 50px;                  
  object-fit: contain;           
  transition: transform 0.2s ease;
}


/* 작업물 섹션 */
#projects {
    margin: 50px 3%;
    box-sizing: border-box;
}

.project-title{
    display: flex;
    align-items: flex-end;
}

#projects .project-title h2{
    font-size: 36px;
    color: var(--h1-color);
}

#projects .project-title span{
    font-size: 20px;
    color: var(--span-color);
    margin-bottom: 5px;
    margin-left: 20px
}

.project-contents{
    color: var(--p-color);
}

/* 아코디언 메뉴 */
.accordion-header{
    cursor: pointer;
    position: relative;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.5s;
    padding: 35px 0;
    padding-left: 10px;
}

.accordion-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(90deg, rgb(239, 252, 220) 0%, rgba(255, 255, 255, 1) 100%);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.5s ease;
}


.accordion-header:hover:before {
  transform: scaleX(1);
}


.accordion-header h3{
    font-size: 36px;
    color: var(--h1-color);
    font-weight: 700;
    line-height: 2;
} 

#projects .project-line{
    width: 100%;
    height: 1px;
    background: var(--span-color);
}

.contents-sub-script{
    width: 60%;
    word-break: keep-all;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.project-contents.open .accordion-body {
  max-height: 1200px; 
}


/* 갤러리 그리드 설정 */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* 1행 3열 (최소 200px, 최대 1fr) */
    gap: 15px;
    margin: 15px 5px;
}

.gallery-item{
    background: #ffffff;
    position: relative;
    box-shadow: 0 4px 10px rgba(49, 61, 40, 0.1);
    padding: 5px;
    border-radius: 10px;
}

.gallery-item a{
    display: block;
    padding: 10px;
    color: inherit; 
    text-decoration: none;
}


.poster-gallery a div{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    width: 100%;
}

.common-gallery a div{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 4 / 3;
    color: inherit; 
    text-decoration: none;
    width: 100%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 꽉 채우기 */
    cursor: pointer;
    border-radius: 10px;
}


.gallery-item a div::after{
  content: ''; 
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: 999;
  transition: 0.3s ease;
  opacity: 1;
}

.gallery-item a div:hover::after {
  opacity: 0.2;
}

.project-info {
    position: relative;
    font-size: 16px;
    line-height: 1.8;
    padding: 10px 15px;
}

.project-info h3{
    color: var(--h1-color);
    font-weight: 700;
    margin-bottom: 10px;
}


.project-info p i{
    margin-right: 8px;
    color: #b2d699;
    font-size: 14px;
}



/* 푸터 */
footer {
    height: 100px;
    color: var(--p-color);
    padding: 20px;
    text-align: center;
}


/* 반응형 */
@media (max-width: 1110px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr)); /* 1행 3열 (최소 200px, 최대 1fr) */
        gap: 15px;
        margin: 15px 5px;
    }

    #introduce .container{
        display: block;
    }

    .introduce-section{
        width: 100%;
        margin-right: 0;
    }

    .info-section{
        width: 100%;
        margin-left: 0;
    }

    .introduce-section{
        margin-bottom: 30px;
    }
}


@media (max-width: 768px) {
    .contact-popup{
        top: 280px;
        right: 0;
    }

    .contents-sub-script{
        width: 100%;
    }

    .info-area h1, .intro-sub-title h1{
        font-size: 25px;
    }

    h3{
        font-size: 20px;
    }

    .intro-sub-title span, #projects .project-title span {
        font-size: 16px;
    }

    #projects .project-title h2{
        font-size: 25px;
    }

    .accordion-header h3{
        font-size: 25px;
    }
    
    .project-contents.open .accordion-body {
    max-height: 2500px; 
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .menu-toggle {
        display: block; /* 햄버거 버튼 보이기 */
    }

    #home h1 {
     font-size: 36px;
    }

    .nav-links {
        opacity: 0;
        position: absolute;
        top: 70px;
        right: 0;
        width: 150px;
        height: 180px;
        background-color: rgba(255,255,255,0.7);
        text-align: center;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        visibility: visible;
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-links ul {
        flex-direction: column;
        padding: 0;
    }

    .nav-links ul li {
        padding: 15px 0;
    }

    
    .nav-links ul li a {
        color: var(--p-color);
    }

    /* 메뉴 활성화 시 표시 */
    .nav-links.active {
        opacity: 1;
        pointer-events: auto;
    }

    .container{
        display: block;
        width: 100%;
    }
        

}